body {
  background-color: rgb(186, 249, 226);
}
.scone_pics {
  width: 400px;
  height: auto;
  border: 20px solid white;
  border-style: groove;
  margin: auto;
  display: block;
}
.house_pics {
  height: 400px;
  width: 500px;
  border: 20px solid rgba(20, 179, 93, 0.72);
  border-style: groove;
  display: block;
  margin: 20px;
}
.houses, .scones {
  display: inline-block;
  width: 600px;
  margin: auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-variant: small-caps;
  color: rgb(20, 179, 93);
  text-align: center;
}
h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}
h1 {
  font-size: 5em;
  border-bottom: 10px solid rgb(71, 133, 79);
}
h2 {
  font-size: 3em;
}
nav a {
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  color: rgb(75, 133, 90);
  font-size: 1.25em;
  display: inline-block;
}
nav {
  text-align: center;
}
